body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
  }
  .hero_area{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    background-color: #030303;
  }
  
  .header_section .container {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  .navbar-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
  }
  .navbar-button .btnBars{
    background-color: #030303;
    border: none;
    color: #ffffff;
    font-size: 24px;
    line-height: 21px;
    margin-right: 10px;
  }
  .navbar-button .nabar-logo{
    height: 24px;
  }

  .search-container{
    flex-direction: row;
    padding-left: 100px;
    padding-bottom: 8px;
    padding-top: 8px;
    
  }
  .sbox {
    position: relative;
    
    }
    .search-container >form{
      
      border: 1px solid rgba(255, 255, 255, 0.65);
      height: 40px;
      border-radius: 10px;
    }
    
    .stext {
    width: 450px;
    height: 40px;
    padding-right: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 10pt;
    float: left;
    color: rgba(255, 255, 255, 0.85);
    padding-left: 56px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    }
  .fa-magnifying-glass {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 9px;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: rgba(255, 255, 255, 0.65);;
    }